@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900&display=swap');

https://fonts.google.com/share?selection.family=Montserrat:ital@1
:root{
  --primary-color:#000;
  --secondary-color:#fff;
  --action-color:#335461;
  --calltoaction-color:#a52a2a;
}

/*FORMATOS ESTANDAR*/
*{
  box-sizing:border-box;
  margin:0;
  padding:0; 
}

html, body {
  font-family: 'Montserrat', sans-serif;
  color: #000;
}
html{
/*  border:3px solid lightBlue;*/
}
body{
/*  border:3px solid purple;*/
}
.nav-bar{
/*  border:3px solid red;*/
  background-color:black;
}
  .flex{
    display:flex;
    justify-content:space-between;
/*    border:3px solid yellow;*/
    height:100px;
  }
    .logo{
/*      border:3px solid orange;*/
      padding-left:30px;
    }
      .logo img{
        position:relative;
        border-radius:50%;
        z-index:10;
      }
  .menu{
    position:relative;
    width:450px;
/*    border:3px solid green;*/
  }
    .menu ul{
      display:flex;
      position:absolute;
      bottom:10px;
      gap:30px;
      list-style:none;
/*      border:3px solid blue;*/
      justify-content:space-around;
    }
      .menu ul a{
        text-decoration:none;
        color:white;
        font-size: 1.5rem;
        font-weight: 400;
      }
      .menu ul li a:hover{
        border-bottom:2px solid white;
        font-weight:600;
      }

/*SECCIÓN DE PORTADA*/

.portada{
/*  border:3px solid green;*/
}

.contenedor .titulo-img,
.contenedor .subtitulo-img{
  position:absolute;
  z-index:1;
  color:#fff;
  font-weight:600;
  font-size:3rem;
  right:50px;
  bottom:60%;
}

.contenedor .subtitulo-img{
  font-size:2rem;
  font-weight:400;
  bottom: 55%;
}

.contenedor img{
  position:relative;
  object-fit:cover;
  z-index:0;
  margin:0;
/*  border:3px solid red;*/
  width:100%;
}

.contenedor a{
  position:absolute;
  z-index:1;
  right:10%;
  bottom: 45%;
  text-decoration:none;
  color:#fff;
  font-weight:600;
  font-size: 1.8rem;
  padding:10px;
/*  border:3px solid tomato;*/
  background-color: #a52a2a;
  border-radius:10px;
  
}

.contenedor a:hover{
  transform: scale(1.1);
}








